@import "../variables.scss";

.honda-button {
  width: 235px;
  margin: 0 auto;
  border-radius: 4px;
  &.primary {
    height: 40px;
    background-color: $white;
    border: 1px solid #d5d5d5;
  }
  &.secondary {
    background-color: $green;
    color: $white;
    border: 0;
    font-weight: bold;
    height: 45px;
  }
}
