@import "../variables.scss";
.example-car {
  .example-car__row {
    .example-car__row__images {
      img {
        margin-bottom: 0.5em;
        border: 1px solid $white-grey2;
      }
    }
  }
  .example-car__text {
    max-width: 830px;
    height: 63px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
  }
}
@media (min-width: $screen-xxs-min) and (max-width: $screen-sm-max) {
  .example-car {
    .example-car__text {
      max-width: 100%;
      height: 110px;
    }
  }
}
