.footer {
  padding: 2em;
  .footer__div {
    width: 50%;
    margin: 0 auto;
    .footer__div__img {
      margin-top: 0.5em;
    }
    .footer__div__span {
      float: right;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
  .footer {
    .footer__div {
      width: 55%;
    }
  }
}
@media (min-width: $screen-xxs-min) and (max-width: $screen-sm-max) {
  .footer {
    .footer__div {
      width: 100%;
    }
  }
}
@media (min-width: 2000px) {
  .footer {
    .footer__div {
      width: 35%;
    }
  }
}
